<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?if $(var.Platform)="x64"?>
  <!--<?define ProductCode="{374D9223-026A-407D-B549-F027E77F267E}"?>-->
  <?define ProductCode="{1C1D9516-F0E0-4151-8109-6BC72319B618}"?>
  <?else?>
  <!--<?define ProductCode="{E5B93625-348D-4BF5-ACE5-C65B34884DD0}"?>-->
  <?define ProductCode="{0E9C3368-6BE9-429A-AC01-09C0979A4797}"?>
  <?endif?>

  <?define UpgradeCode = "{049092C0-8A44-4421-9916-152E140D52D3}" ?>

	<Package Name="!(loc.ProductName_$(var.Platform))" Language="!(loc.Language)" Version="$(var.BuildVersion)" Manufacturer="!(loc.Company)" UpgradeCode="$(var.UpgradeCode)" InstallerVersion="200" ProductCode="$(var.ProductCode)">
    
		<SummaryInformation Manufacturer="!(loc.Company)" Description="!(loc.Description)" Keywords="!(loc.Keywords)" />
    
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
		<MediaTemplate EmbedCab="yes" />
    
    <Icon Id="seti_logo.ico" SourceFile="$(var.ManufacturingInventory.ProjectDir)\Images\seti_logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="seti_logo.ico" />
    
    <ui:WixUI Id="WixUI_Minimal" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)Assets\SETiLicense.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)Assets\Background.jpg" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)Assets\GermsBanner.jpg" />
    
		<Feature Id="ProductFeature" Title="ManufacturingInventory" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
		</Feature>
	</Package>
</Wix>
